<div class="decision-page">
  <div class="decision-page-header">
    <div class="decision-page-title-wrapper">
      <h1 class="decision-page-title">Hej.</h1>
      <p class="decision-page-subtitle">Lass uns gemeinsam Grosses bewirken</p>
    </div>
    <div class="decision-page-header-image-wrapper"><img class="decision-page-header-image" src="./assets/images/man_sitting.svg" alt=""></div>
  </div>
  <div class="decision-page-body">
    <img class="decision-page-body-image" alt="" src="./assets/images/woman_standing.svg">
    <div class="decision-page-buttons">
      <a class="decision-page-button" routerLink="/start">Ich brauche Hilfe</a>
      <a class="decision-page-button" routerLink="/map">Ich kann helfen</a>
    </div>
  </div>
  <div class="decision-page-footer">
    <div class="decision-page-footer-image-wrapper">
      <span class="decision-page-legal-copy">Unterstützt von</span>
      <img class="decision-page-footer-image" alt="" src="./assets/images/die_bundesregierung.svg">
    </div>
  </div>
</div>
