<div class="shopping-list-page">
  <a class="back-link" routerLink="/map"><img src="./assets/icons/back_button.svg" alt=""></a>
  <div class="shopping-list-page-header">
    <div class="shopping-list-page-title-wrapper">
      <h1 class="shopping-list-page-title">Toll.</h1>
      <p class="shopping-list-page-subtitle">Danke, dass du <span class="shopping-list-name">{{name}}</span> hilfst. <br> Er/Sie benötigt folgende Artikel:</p>
    </div>
  </div>
  <div class="shopping-list-page-list-container">
    <ul class="shopping-list-page-list">
      <li *ngFor="let item of items" class="shopping-list-page-item"><span class="shopping-list-page-item-text">{{item}}</span></li>
    </ul>
  </div>
  <div>
    <h3 class="shopping-list-page-call-title">Du hast noch fragen?</h3>
    <div class="shopping-list-page-call-icon-wrapper">
      <div class="shopping-list-page-call-icon">
        <a [href]="'tel:' + phonenumber">
          <img src="./assets/images/design_phone-twotone.svg" alt="">
        </a>
      </div>
      <a class="shopping-list-page-call-text" [href]="'tel:' + phonenumber">{{name}} anrufen</a>
    </div>
  </div>
</div>
